Flow 1.json
[
    {
        "id": "5d5080baaa17fc82",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "b0a9b8683af3deb2",
        "type": "mqtt in",
        "z": "5d5080baaa17fc82",
        "name": "",
        "topic": "sic/flow3/temp",
        "qos": "2",
        "datatype": "auto",
        "broker": "9911ca4670b98d12",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 110,
        "y": 80,
        "wires": [
            [
                "02a7a8bead935de0"
            ]
        ]
    },
    {
        "id": "02a7a8bead935de0",
        "type": "json",
        "z": "5d5080baaa17fc82",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 330,
        "y": 80,
        "wires": [
            [
                "c62c01f7c44b8944",
                "ba4c931d2cc9ba85",
                "c39711a8f6d09d57",
                "4b4f7889565ed002"
            ]
        ]
    },
    {
        "id": "c62c01f7c44b8944",
        "type": "function",
        "z": "5d5080baaa17fc82",
        "name": "ID",
        "func": "msg.payload=msg.payload.id\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 500,
        "y": 80,
        "wires": [
            [
                "cbdaf0f8de559914"
            ]
        ]
    },
    {
        "id": "ba4c931d2cc9ba85",
        "type": "function",
        "z": "5d5080baaa17fc82",
        "name": "Temperatura",
        "func": "msg.payload=msg.payload.temp\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 520,
        "y": 160,
        "wires": [
            [
                "676a578f49a9a3d8"
            ]
        ]
    },
    {
        "id": "c39711a8f6d09d57",
        "type": "function",
        "z": "5d5080baaa17fc82",
        "name": "",
        "func": "msg.topic=msg.payload.id;\nmsg.payload=msg.payload.temp;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 530,
        "y": 260,
        "wires": [
            [
                "c5295e956412004d"
            ]
        ]
    },
    {
        "id": "4b4f7889565ed002",
        "type": "debug",
        "z": "5d5080baaa17fc82",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload.msg",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 700,
        "y": 40,
        "wires": []
    },
    {
        "id": "cbdaf0f8de559914",
        "type": "ui_text",
        "z": "5d5080baaa17fc82",
        "group": "94dbdc978296d692",
        "order": 0,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Nombre:",
        "format": "{{msg.payload}}",
        "layout": "row-left",
        "x": 690,
        "y": 100,
        "wires": []
    },
    {
        "id": "676a578f49a9a3d8",
        "type": "ui_gauge",
        "z": "5d5080baaa17fc82",
        "name": "",
        "group": "94dbdc978296d692",
        "order": 1,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Temperatura",
        "label": "°C",
        "format": "{{value}}",
        "min": "-15",
        "max": "50",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "x": 720,
        "y": 180,
        "wires": []
    },
    {
        "id": "c5295e956412004d",
        "type": "ui_chart",
        "z": "5d5080baaa17fc82",
        "name": "",
        "group": "1ebe30f093625fd0",
        "order": 0,
        "width": 0,
        "height": 0,
        "label": "Historico de Temperatura",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "-15",
        "ymax": "50",
        "removeOlder": "10",
        "removeOlderPoints": "",
        "removeOlderUnit": "60",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "x": 760,
        "y": 280,
        "wires": [
            []
        ]
    },
    {
        "id": "9911ca4670b98d12",
        "type": "mqtt-broker",
        "name": "",
        "broker": "35.157.158.119",
        "port": "1883",
        "clientid": "alainmm",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "sessionExpiry": ""
    },
    {
        "id": "94dbdc978296d692",
        "type": "ui_group",
        "name": "Valores",
        "tab": "1d14fe2cfb38d0c3",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "1ebe30f093625fd0",
        "type": "ui_group",
        "name": "Historico",
        "tab": "1d14fe2cfb38d0c3",
        "order": 2,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "1d14fe2cfb38d0c3",
        "type": "ui_tab",
        "name": "flow3",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    }
]
